<!-- should omit end tag -->
<input type="text">

<!-- should allow attributes -->
<input type="text" autofocus>
<input type="file" capture>
<input type="checkbox" checked>
<input type="text" disabled>
<input type="file" multiple>
<input type="text" readonly>
<input type="text" required>
<input type="text" inputmode="none">
<input type="text" inputmode="text">
<input type="text" inputmode="decimal">
<input type="text" inputmode="numeric">
<input type="text" inputmode="tel">
<input type="text" inputmode="search">
<input type="text" inputmode="email">
<input type="text" inputmode="url">
<input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image" alt="lorem ipsum">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">
<input type="text" spellcheck="default">
<input type="text" spellcheck="false">
<input type="text" spellcheck="true">

<!-- should not be interactive when type is hidden -->
<button type="button">
	foo
	<input type="hidden">
</button>

<!-- attributes with restrictions based on type -->
<div id="attribute-restriction">
	<input type="file" accept="image/jpeg">
	<input type="image" alt="lorem ipsum">
	<input type="hidden" autocomplete="on">
	<input type="text" autocomplete="on">
	<input type="search" autocomplete="on">
	<input type="url" autocomplete="on">
	<input type="tel" autocomplete="on">
	<input type="email" autocomplete="on">
	<input type="password" autocomplete="on">
	<input type="date" autocomplete="on">
	<input type="month" autocomplete="on">
	<input type="week" autocomplete="on">
	<input type="time" autocomplete="on">
	<input type="datetime-local" autocomplete="on">
	<input type="number" autocomplete="on">
	<input type="range" autocomplete="on">
	<input type="color" autocomplete="on">
	<input type="file" capture>
	<input type="checkbox" checked>
	<input type="radio" checked>
	<input type="text" dirname="myname">
	<input type="search" dirname="myname">
	<input type="submit" formaction="/myaction">
	<input type="image" formaction="/myaction" alt="lorem ipsum">
	<input type="submit" formenctype>
	<input type="image" formenctype alt="lorem ipsum">
	<input type="submit" formmethod="post">
	<input type="image" formmethod="post" alt="lorem ipsum">
	<input type="submit" formnovalidate>
	<input type="image" formnovalidate alt="lorem ipsum">
	<input type="submit" formtarget="mytarget">
	<input type="image" formtarget="mytarget" alt="lorem ipsum">
	<input type="image" height="512" alt="lorem ipsum">
	<input type="text" list="mylist">
	<input type="search" list="mylist">
	<input type="url" list="mylist">
	<input type="tel" list="mylist">
	<input type="email" list="mylist">
	<input type="date" list="mylist">
	<input type="month" list="mylist">
	<input type="week" list="mylist">
	<input type="time" list="mylist">
	<input type="datetime-local" list="mylist">
	<input type="number" list="mylist">
	<input type="range" list="mylist">
	<input type="color" list="mylist">
	<input type="date" max="100">
	<input type="month" max="100">
	<input type="week" max="100">
	<input type="time" max="100">
	<input type="datetime-local" max="100">
	<input type="number" max="100">
	<input type="range" max="100">
	<input type="text" maxlength="10">
	<input type="search" maxlength="10">
	<input type="url" maxlength="10">
	<input type="tel" maxlength="10">
	<input type="email" maxlength="10">
	<input type="password" maxlength="10">
	<input type="date" min="0">
	<input type="month" min="0">
	<input type="week" min="0">
	<input type="time" min="0">
	<input type="datetime-local" min="0">
	<input type="number" min="0">
	<input type="range" min="0">
	<input type="text" minlength="3">
	<input type="search" minlength="3">
	<input type="url" minlength="3">
	<input type="tel" minlength="3">
	<input type="email" minlength="3">
	<input type="password" minlength="3">
	<input type="email" multiple>
	<input type="file" multiple>
	<input type="text" pattern="foo">
	<input type="search" pattern="foo">
	<input type="url" pattern="foo">
	<input type="tel" pattern="foo">
	<input type="email" pattern="foo">
	<input type="password" pattern="foo">
	<input type="text" placeholder="foobar">
	<input type="search" placeholder="foobar">
	<input type="url" placeholder="foobar">
	<input type="tel" placeholder="foobar">
	<input type="email" placeholder="foobar">
	<input type="password" placeholder="foobar">
	<input type="number" placeholder="foobar">
	<input type="text" readonly>
	<input type="search" readonly>
	<input type="url" readonly>
	<input type="tel" readonly>
	<input type="email" readonly>
	<input type="password" readonly>
	<input type="date" readonly>
	<input type="month" readonly>
	<input type="week" readonly>
	<input type="time" readonly>
	<input type="datetime-local" readonly>
	<input type="number" readonly>
	<input type="text" required>
	<input type="search" required>
	<input type="url" required>
	<input type="tel" required>
	<input type="email" required>
	<input type="password" required>
	<input type="date" required>
	<input type="month" required>
	<input type="week" required>
	<input type="time" required>
	<input type="datetime-local" required>
	<input type="number" required>
	<input type="checkbox" required>
	<input type="radio" required>
	<input type="file" required>
	<input type="text" size="10">
	<input type="search" size="10">
	<input type="url" size="10">
	<input type="tel" size="10">
	<input type="email" size="10">
	<input type="password" size="10">
	<input type="image" src="myimage.jpg" alt="lorem ipsum">
	<input type="date" step="5">
	<input type="month" step="5">
	<input type="week" step="5">
	<input type="time" step="5">
	<input type="datetime-local" step="5">
	<input type="number" step="5">
	<input type="range" step="5">
	<input type="image" width="512" alt="lorem ipsum">
</div>
