<!-- should not be allowed outside <tr> -->
<div>
	<th scope="auto">foo</th>
</div>

<!-- should not allow <header>, <footer>, sectioning or headings -->
<table>
	<tbody>
		<tr>
			<th scope="auto">
				<header></header>
				<footer></footer>
				<article></article>
				<h1>Lorem ipsum</h1>
			</th>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<!-- should require scope attribute -->
			<th>foo</th>

			<!-- invalid scope attribute -->
			<th scope="foobar">bar</th>
		</tr>
	</tbody>
</table>
